# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Windows
Thumbs.db
Desktop.ini

# C++ build files
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll

# Build folders
build/
cmake-build-*/

# Data / documents
**/*.csv
**/*.txt
**/*.lyx
**/*.bin

# Logs
*.log
